[package]
name = "example_tokio_tradeclient"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1"
fefix = { path = "../../crates/fefix", features = ["fix42"] }
inquire = "0.6"
slog = "2"
slog-term = "2"
slog-async = "2"
strum = { version = "0.25", features = ["derive"] }
tokio = { version = "1", features = ["net", "io-util", "macros"] }
tokio-util = { version = "0.6", features = ["compat"] }

[build-dependencies]
fefix = { path = "../../crates/fefix", features = ["fix42", "codegen"] }
