[submodule "rustyfix/resources/fix-repository"]
	path = rustyfix/resources/fix-repository
	url = https://github.com/FIXTradingCommunity/fix-repository
[submodule "lib/quickfix"]
	path = lib/quickfix
	url = https://github.com/quickfix/quickfix
