# - The name of the project is FerrumFIX.
# - The repository is `ferrum-fix`.
# - The crates are named `fefix`, `fefix_derive`, etc..

[profile.release]
lto = true

[workspace]
members = [
    "fefix",
    "fefix/tests/compile_full_features",
    "fefix/tests/codegen_fix44",
    "fefix_derive",
    "fesofh",
    "examples/00_decode_fix",
    "examples/03_decode_fix_stream",
    "examples/05_coinbase_codegen",
    "examples/10_encode_new_order_single",
    "examples/12_derive_side",
    "examples/20_tokio_fix_initiator",
    "examples/30_tcp_sofh",
    "examples/31_tcp_sofh_tokio_codec",
    "examples/70_json_encoding",
    "examples/tls_fixua_acceptor",
]
